# Airflow Requirements - ML/MLOps Stack

# Core ML
onnxruntime
onnx
pillow
numpy

# pytorch
torch==2.1.2+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.2+cpu --index-url https://download.pytorch.org/whl/cpu

# Data Processing
pandas
scikit-learn

# MLOps
evidently
mlflow

# Database
sqlalchemy
psycopg2-binary

# Cloud Storage
boto3

# HuggingFace
huggingface-hub
# transformers

# API Client
requests

# Testing
pytest
pytest-cov

# Utils
python-dotenv
pydantic
