# # MLflow Tracking Server Requirements

# huggingface-hub
# requests
# mlflow
# psycopg2-binary
# boto3
# python-dotenv

boto3
pandas 
gunicorn 
streamlit 
scikit-learn 
matplotlib 
seaborn 
plotly
mlflow
psycopg2-binary
huggingface-hub